.input-field {
  &-fieldset {
    display: flex;
    flex-direction: column;
    margin: var(--spacing-2) 0;
  }

  &-label {
    font-weight: 500;
    user-select: none;
    padding: var(--spacing-3) 0 var(--spacing-1) 0;
    margin: var(--spacing-1);
  }

  &-input {
    padding: var(--spacing-3);
    margin: var(--spacing-1);
    border-radius: var(--spacing-1);
    border: 1px solid var(--color-border1);

    &:active {
      border-color: var(--color-border2);
    }
  }

  &-validation-error {
    background-color: var(--color-red1);
    padding: var(--spacing-2) var(--spacing-3);
    margin: var(--spacing-1);
    border-radius: var(--spacing-1);
  }

  &-validation-error-text {
    font-size: 13px;
    color: #fff;
  }
}
