.button {
  border-radius: var(--spacing-1);
  color: var(--color-bg1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-4);
  margin: var(--spacing-1);
  border: 1px solid var(--color-border3);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: var(--font-weight-2);

  &.brand {
    border-color: var(--color-brand1);
    background-color: var(--color-brand1);

    &:hover {
      border-color: var(--color-brand2);
      background-color: var(--color-brand2);
    }
  }

  &.accent {
    border-color: var(--color-accent1);
    background-color: var(--color-accent1);

    &:hover {
      border-color: var(--color-accent2);
      background-color: var(--color-accent2);
    }
  }
}
